<%- include("partials/header"); -%>
<div class="container">
<form action="/chose" method="post" name="myForm" autocomplete="off" onsubmit="return validateForm()" style="width: 50%;">
  <fieldset>

 <legend><strong>Assign Checkpoint</strong></legend>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="checkpoints">Checkpoints</label>
      <select name="checkpoints" class="form-control" placeholder="Choose..">
        <% array.forEach(function(element){%>
          <option value="<%=element.Point%>"><%=element.Point%></option>
        <%})%>
          <option value="Finish">Finish</option>
      </select>

    </div>


    <div class="form-group col-md-6">
      <label for="users">Users</label>
      <select name="users" class="form-control" placeholder="Choose..">
        <% userArray.forEach(function(element){%>
          <option value="<%=element.username%>"><%=element.username%></option>
        <%})%>
      </select>
    </div>

    </div>
    <button type="submit" class="btn btn-primary" name="button">Submit</button>
    </fieldset>
  </form>
  </div>
    <!--
    <form action="/chose" method="post">
      <label for="checkpoints">Checkpoint: </label>
      <select name="checkpoints">
        <% array.forEach(function(element){%>
          <option value="<%=element.Point%>"><%=element.Point%></option>
        <%})%>
      </select>
      <label for="users">Users: </label>
      <select name="users">
        <% userArray.forEach(function(element){%>
          <option value="<%=element.username%>"><%=element.username%></option>
        <%})%>
      </select>
      <button type="submit" name="button">Submit</button>
    </form> -->
  </body>
</html>
